<style>
    .e {
        background: linear-gradient(135deg, #000428, #004e92);
    }
</style>

<!-- ================= LOGIN USER HEADER ================= -->

<div *ngIf="isLogin()">

    

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top e">

        <!-- LOGO -->
        <a class="navbar-brand" routerLink="/dashboard">
            <img src="https://www.raystec.com/assets/img/rays/customLogoOuterglow.png" width="190" height="50">
        </a>

        <select #locale (change)="changeLocale(locale.value)">
            <option value="0">{{ 'LocaleSelect.Select' | translate }}</option>
            <option value="en">{{ 'LocaleSelect.English' | translate }}</option>
            <option value="hi">{{ 'LocaleSelect.Hindi' | translate }}</option>
        </select>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ml-auto">

                <!-- USER -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ 'Navbar.User' | translate }}
                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" routerLink="/user">
                            <i class="fa fa-user-circle"></i> {{ 'Links.AddUser' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/userlist">
                            <i class="fa fa-user-friends"></i> {{ 'Links.UserList' | translate }}
                        </a>

                    </div>

                </li>

                <!-- ROLE -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ 'Navbar.Role' | translate }}
                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" routerLink="/role">
                            <i class="fa fa-user-tie"></i> {{ 'Links.AddRole' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/rolelist">
                            <i class="fa fa-user-friends"></i> {{ 'Links.RoleList' | translate }}
                        </a>

                    </div>

                </li>

                <!-- COLLEGE -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ 'Navbar.College' | translate }}
                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" routerLink="/college">
                            <i class="fa fa-university"></i> {{ 'Links.AddCollege' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/collegelist">
                            <i class="fa fa-building"></i> {{ 'Links.CollegeList' | translate }}
                        </a>

                    </div>

                </li>

                <!-- STUDENT -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ 'Navbar.Student' | translate }}
                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" routerLink="/student">
                            <i class="fa fa-user-circle"></i> {{ 'Links.AddStudent' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/studentlist">
                            <i class="fa fa-users"></i> {{ 'Links.StudentList' | translate }}
                        </a>

                    </div>

                </li>

                <!-- MARKSHEET -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ 'Navbar.Marksheet' | translate }}
                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" routerLink="/marksheet">
                            <i class="fa fa-file"></i> {{ 'Links.AddMarksheet' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/marksheetlist">
                            <i class="fa fa-paste"></i> {{ 'Links.MarksheetList' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/marksheetmeritlist">
                            <i class="fa fa-file-alt"></i>{{ 'Links.MarksheetMeritList' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/getmarksheet">
                            <i class="fa fa-copy"></i> {{ 'Links.GetMarksheet' | translate }}
                        </a>

                    </div>

                </li>

                <!-- COURSE -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ 'Navbar.Course' | translate }}
                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" routerLink="/course">
                            <i class="fa fa-book-open"></i> {{ 'Links.AddCourse' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/courselist">
                            <i class="fa fa-sort-amount-down"></i> {{ 'Links.CourseList' | translate }}
                        </a>

                    </div>

                </li>

                <!-- SUBJECT -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ 'Navbar.Subject' | translate }}
                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" routerLink="/subject">
                            <i class="fa fa-calculator"></i> {{ 'Links.AddSubject' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/subjectlist">
                            <i class="fa fa-sort-amount-down"></i> {{ 'Links.SubjectList' | translate }}
                        </a>

                    </div>

                </li>

                <!-- TIMETABLE -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ 'Navbar.Timetable' | translate }}
                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" routerLink="/timetable">
                            <i class="fa fa-clock"></i> {{ 'Links.AddTimetable' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/timetablelist">
                            <i class="fa fa-clock"></i> {{ 'Links.TimetableList' | translate }}
                        </a>

                    </div>

                </li>

                <!-- FACULTY -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ 'Navbar.Faculty' | translate }}
                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" routerLink="/faculty">
                            <i class="fa fa-user-tie"></i> {{ 'Links.AddFaculty' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/facultylist">
                            <i class="fa fa-users"></i> {{ 'Links.FacultyList' | translate }}
                        </a>

                    </div>

                </li>

                <!-- PROFILE -->

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">

                        {{ 'Greetings.HiUser' | translate:{name:form.data.fname,role:form.data.role} }}

                    </a>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" (click)="forward()">
                            <i class="fa fa-user-tie"></i> {{ 'Links.MyProfile' | translate }}
                        </a>

                        <a class="dropdown-item" routerLink="/changePassword">
                            <i class="fa fa-edit"></i> {{ 'Links.ChangePassword' | translate }}
                        </a>

                        <a class="dropdown-item" (click)="goToLink()">
                            <i class="fa fa-clone"></i> {{ 'Links.Javadoc' | translate }}
                        </a>

                        <a class="dropdown-item" (click)="logout()">
                            <i class="fa fa-sign-out-alt"></i> {{ 'Links.Logout' | translate }}
                        </a>

                    </div>

                </li>

            </ul>

        </div>

    </nav>

</div>

<!-- ================= GUEST HEADER ================= -->

<div *ngIf="!isLogin()">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top e">

        <a class="navbar-brand">
            <img src="https://www.raystec.com/assets/img/rays/customLogoOuterglow.png" width="190" height="50">
        </a>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown" style="padding-right:40px">

                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                     {{ 'Greetings.HiGuest' | translate }}
                </a>

                <div class="dropdown-menu">

                    <a class="dropdown-item" routerLink="/login">
                        <i class="fa fa-sign-in-alt"></i> {{ 'Links.Login' | translate }}
                    </a>

                    <a class="dropdown-item" routerLink="/signup">
                        <i class="fa fa-registered"></i> {{ 'UserRegistration' | translate }}
                    </a>

                </div>

            </li>

        </ul>

    </nav>

</div>