<div class="container-fluid" style="margin-top:100px; margin-bottom:100px;">

    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">

            <div class="card">

                <div class="card-body">

                    <h3 class="text-center text-primary" *ngIf="!form.data.id">
                        Add Time Table
                    </h3>

                    <h3 class="text-center text-primary" *ngIf="form.data.id > 0">
                        Update Time Table
                    </h3>

                    <!-- SUCCESS MESSAGE -->
                    <div *ngIf="!form.error && form.message" class="alert alert-success">
                        {{form.message}}
                    </div>

                    <!-- ERROR MESSAGE -->
                    <div *ngIf="form.error && form.message" class="alert alert-danger">
                        {{form.message}}
                    </div>

                    <!-- COURSE -->
                    <div class="form-group">

                        <label><b>Course</b> <span class="text-danger">*</span></label>

                        <div class="input-group">

                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>
                            </div>

                            <select class="form-control" name="courseId" [(ngModel)]="form.data.courseId">

                                <option value="undefined">------------Select------------</option>

                                <option *ngFor="let obj of form.preload.courseList" [value]="obj.key">
                                    {{obj.value}}
                                </option>

                            </select>

                        </div>

                        <small class="text-danger">
                            {{form.inputerror.courseId}}
                        </small>

                    </div>

                    <!-- SUBJECT -->
                    <div class="form-group">

                        <label><b>Subject</b> <span class="text-danger">*</span></label>

                        <div class="input-group">

                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-book"></i>
                                </div>
                            </div>

                            <select class="form-control" name="subjectId" [(ngModel)]="form.data.subjectId">

                                <option value="undefined">------------Select------------</option>

                                <option *ngFor="let obj of form.preload.subjectList" [value]="obj.key">
                                    {{obj.value}}
                                </option>

                            </select>

                        </div>

                        <small class="text-danger">
                            {{form.inputerror.subjectId}}
                        </small>

                    </div>

                    <!-- SEMESTER -->
                    <div class="form-group">

                        <label><b>Semester</b> <span class="text-danger">*</span></label>

                        <div class="input-group">

                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-sort"></i>
                                </div>
                            </div>

                            <select class="form-control" name="semester" [(ngModel)]="form.data.semester">

                                <option value="undefined">------------Select------------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>

                            </select>

                        </div>

                        <small class="text-danger">
                            {{form.inputerror.semester}}
                        </small>

                    </div>

                    <!-- EXAM DATE -->
                    <div class="form-group">

                        <label><b>Exam Date</b> <span class="text-danger">*</span></label>

                        <div class="input-group">

                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>

                            <input type="date" class="form-control" name="examDate" [(ngModel)]="form.data.examDate"
                                [ngModel]="form.data.examDate | date:'yyyy-MM-dd'">

                        </div>

                        <small class="text-danger">
                            {{form.inputerror.examDate}}
                        </small>

                    </div>

                    <!-- EXAM TIME -->
                    <div class="form-group">

                        <label><b>Exam Time</b> <span class="text-danger">*</span></label>

                        <div class="input-group">

                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-clock"></i>
                                </div>
                            </div>

                            <select class="form-control" name="examTime" [(ngModel)]="form.data.examTime">

                                <option value="">------------Select------------</option>
                                <option value="08:00 AM to 11:00 AM">08:00 AM to 11:00 AM</option>
                                <option value="12:00 PM to 03:00 PM">12:00 PM to 03:00 PM</option>
                                <option value="04:00 PM to 07:00 PM">04:00 PM to 07:00 PM</option>

                            </select>

                        </div>

                        <small class="text-danger">
                            {{form.inputerror.examTime}}
                        </small>

                    </div>

                    <!-- DESCRIPTION -->
                    <div class="form-group">

                        <label><b>Description</b></label>

                        <div class="input-group">

                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-list"></i>
                                </div>
                            </div>

                            <textarea class="form-control" rows="3" name="description"
                                [(ngModel)]="form.data.description" placeholder="Enter description">
                            </textarea>



                        </div>

                        <small class="text-danger">
                            {{form.inputerror.description}}
                        </small>

                    </div>

                    <!-- BUTTONS -->
                    <div class="text-center mt-3">

                        <!-- ADD MODE -->
                        <button *ngIf="!form.data.id" type="button" class="btn btn-success" (click)="submit()">
                            Save
                        </button>&nbsp;

                        <button *ngIf="!form.data.id" type="button" class="btn btn-warning btn-md" (click)="reset()">
                            Reset
                        </button>


                        <!-- UPDATE MODE -->
                        <button *ngIf="form.data.id > 0" type="button" class="btn btn-primary" (click)="submit()">
                            Update
                        </button>&nbsp;

                        <button *ngIf="form.data.id > 0" type="button" class="btn btn-info"
                            (click)="forward('/timetablelist')">
                            List
                        </button>

                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-4"></div>

    </div>

</div>